html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
}

.leaflet-control.slider-control {
    background-color: white;
    padding: 6px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: initial;
    margin-bottom:20px;
}

.slider-container {
    position: relative;
    width: 160px;
    height: min-content;
    display:flex;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    background: #ddd;
    outline: none;
    border-radius: 12px;
    margin: 0px;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 20px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 20px;
    background: #007bff;
    border-radius: 50% 50% 0 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.tooltip {
    position: absolute;
    width:32px;
    height:32px;
    left: 50%;
    box-sizing: border-box;
    transform: translate(calc(-50% + 15px), calc(50% - 8px));
    background: #007bff;
    color: white;
    padding: 2px 5px;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
    align-items:end;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.slider-label {
    display: block;
    text-align: center;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
}