.control {
    background-color: white;
    border-radius: 0px;
    padding: 6px 16px;
    margin-bottom: 0px;
    text-align: center;
}

.control label,
.control .range-label {
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 0px 0px 4px 0px;
}

/* Buttons */
.map-button {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 4px;
}

.map-button button {
    background-color: white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.map-button button:hover {
    background-color: #f4f4f4;
}

.button-control button {
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 4px;
    font-weight: 300;
    background-color: white;
    color: #222;
    padding: 8px 12px;
    cursor: pointer;
    box-shadow: 1px 1px;
    font-family: 'Roboto', 'Parkinsans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-control button:hover {
    background-color: #f2f2f2;
}

/* Inputs */
.file-control input {
    cursor: pointer;
    width: 100%;
    font-weight: 300;
    font-family: 'Roboto', 'Parkinsans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.file-control input::file-selector-button {
    border: none;
    padding: 4px 6px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #444;
    font-family: 'Roboto', 'Parkinsans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.file-control input::file-selector-button:hover {
    background-color: #f2f2f2;
}

.input-container {
    width: 100%;
    height: 30px;
    padding: 4px 8px;
    background: white;
    border: none;
    border-radius: 4px;
    outline: 1px #444 solid;
    color: #222;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', 'Parkinsans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* Slider */
.slider-control {
    position: relative;
    z-index: 100;
    padding-bottom: 20px;
}

.slider-control input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    background: white;
    outline: 1px #444 solid;
    border-radius: 12px;
    margin: 0px;
    overflow: hidden;
}

.slider-control input[type="range"]::-webkit-slider-thumb,
.slider-control input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 90px;
    background: #444;
    border: none;
    border-radius: 50% 50% 0 0;
    cursor: pointer;
    position: relative;
    outline: 1px #444 solid;
}

.slider-container {
    position: relative;
    width: calc(100% - 32px);
    height: min-content;
    display: flex;
    margin: auto;
}

.tooltip {
    position: absolute;
    width: 32px;
    height: 24px;
    left: 50%;
    box-sizing: border-box;
    transform: translate(calc(-50% + 16px), calc(50% - 8px));
    background: #444;
    color: white;
    outline: 1px #444 solid;
    padding: 2px 5px;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
    align-items: end;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.slider-label {
    display: block;
    text-align: center;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
}

/* Range */
.range-control {
    box-sizing: border-box;
}

.range-label {
    display: block;
    text-align: center;
    margin-bottom: 4px;
}

.range-tooltip {
    display: block;
    text-align: center;
    margin-top: 4px;
    font-size: 12px;
    font-weight: bold;
}

.range-slider-container {
    background-color: white;
    width: calc(100% - 32px);
    height: 12px;
    outline: 1px #444 solid;
    margin: auto;
    position: relative;
    border-radius: 12px;
}

.range-slider {
    position: absolute;
    background: #444;
    outline: 1px #444 solid;
    height: 100%;
    width: 58px;
    top: 0px;
    cursor: move;
}

.range-slider:hover {
    background: #333;
}

.range-slider .handle {
    position: absolute;
    height: 16px;
    width: 16px;
    top: -2px;
    background: white;
    border: 2px solid #444;
    box-sizing: border-box;
}

.range-slider .EE {
    right: -16px;
    cursor: e-resize;
    border-radius: 0px 100% 100% 0px;
}

.range-slider .WW {
    left: -16px;
    cursor: w-resize;
    border-radius: 100% 0 0 100%;
}

.data-range-control .EE {
    right: -16px;
    border-radius: 0px 100% 100% 0px;
}

.data-range-control .WW {
    left: -16px;
    border-radius: 100% 0px 0px 100%;
}

/* Combobox */
.combobox-container {
    width: 100%;
    height: 30px;
    padding: 4px 8px;
    background: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: 1px #444 solid;
    color: #222;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', 'Parkinsans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.combobox-container:hover {
    background-color: #f2f2f2;
}

select.combobox-container option {
    background-color: #ffffff;
    transform: translate(10px, 0);
}

.compare-glyph-control {
    position: relative;
}

.compare-glyph-control {
    padding-top: 8px;
    border-bottom: 0px black solid;
    border-radius: 12px;
    box-shadow: 0px 0px 6px #888;
}

.glyph-control-items{
    height: calc(100% - 28px);
    aspect-ratio: 1 / 1 ;
    margin:auto;
}

.compare-glyph-control .control-label{
    font-size: 16px;
    background-color: #444;
    width: fit-content;
    margin: auto;
    color: white;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    line-height: 24px;
    padding: 0px 6px;
    border-radius: 4px;
}

.compare-glyph-control .glyph-control-button-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    right: 8px;
    top: 8px;
    height: fit-content;
}

.compare-glyph-control .glyph-control-button{
    display:flex;
    height: 24px;
    width: 24px;
    background-color: #444;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-radius:4px;
}

.compare-glyph-control .glyph-control-button:hover {
    background-color: #333;
}

.compare-glyph-control .glyph-control-button button{
    height: 16px;
    width: 16px;
    background-color: white;
    cursor: pointer;
}

.compare-glyph-control .glyph-control-up-button button{
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13l-6-6 1.5-1.5L8 10.5l4.5-4.5L14 7z'/%3E%3C/svg%3E") no-repeat center;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 1 16 16'%3E%3Cpath d='M8 13l-6-6 1.5-1.5L8 10.5l4.5-4.5L14 7z'/%3E%3C/svg%3E") no-repeat center;
    transform: translateY(0%) rotate(90deg) !important;

}

.compare-glyph-control .glyph-control-down-button button{
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13l-6-6 1.5-1.5L8 10.5l4.5-4.5L14 7z'/%3E%3C/svg%3E") no-repeat center;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 1 16 16'%3E%3Cpath d='M8 13l-6-6 1.5-1.5L8 10.5l4.5-4.5L14 7z'/%3E%3C/svg%3E") no-repeat center;
    transform: translateY(0%) rotate(-90deg);
}

.compare-glyph-control .glyph-control-remove-button button {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M4 4l8 8M4 12L12 4' stroke='currentColor' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat center;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M4 4l8 8M4 12L12 4' stroke='currentColor' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat center;
    transform: translateY(0%) rotate(0deg);
}