:root {
    --dark-gray: #444;
    --darker-gray: #333;
    --snow: #eee;
    --white: #fff;
    --green: #30a959;
    color-scheme: light dark;
}

@keyframes expand-width {
    from {
        width: 0;
    }

    to {
        width: 400px;
    }
}

@keyframes retract-width {
    from {
        width: 400px;
    }

    to {
        width: 0;
    }
}

@keyframes expand-height {
    from {
        height: 0;
    }

    to {
        height: 360px;
    }
}

@keyframes retract-height {
    from {
        height: 360px;
    }

    to {
        height: 0;
    }
}

.expand-width {
    animation: expand-width 0.5s ease-in-out forwards;
}

.retract-width {
    animation: retract-width 0.5s ease-in-out forwards;
}

.expand-height {
    animation: expand-height 0.5s ease-in-out forwards;
}

.retract-height {
    animation: retract-height 0.5s ease-in-out forwards;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', 'Parkinsans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: light-dark(var(--white), var(--dark-gray));
    grid-template-columns: min-content auto min-content;
    grid-template-rows: min-content auto min-content;
}

.collapsed {
    height: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#top-menu {
    grid-row: 1;
    grid-column: 2;
    height: 0px;
}

#left-menu {
    grid-row: 2;
    grid-column: 1;
    height: 100%;
    width: 0px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: light-dark(var(--white), var(--dark-gray));
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#map {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
}

#right-menu {
    grid-row: 2;
    grid-column: 3;
    width: 0px;
}

#bottom-menu {
    grid-row-start: 3;
    grid-column: 2;
    height: 0px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: light-dark(var(--white), var(--dark-gray));
    font-family: 'Roboto', 'Parkinsans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#left-menu::-webkit-scrollbar {
    display: none;
}

#left-menu>* {
    width: 400px;
    border: 0px solid light-dark(var(--dark-gray), var(--white));
    border-bottom-width: 1px;
}

#left-menu>*:first-child .menu-dropdown {
    border-width: 0;
}

#left-menu * {
    transition: background-color 0.2s;
}

.menu-accordion-items {
    color: light-dark(var(--dark-gray), var(--white));
    padding: 0px 8px;
    overflow-y: hidden;
    transition: background-color 0.2s, height 0.8s !important;
    height: calc-size(auto, size);
}

/* Accordion Styles */
.menu-accordion {
    position: relative;
    height: 44px;
    width: 100%;
    background-color: light-dark(var(--white), var(--dark-gray));
    cursor: pointer;
    color: #222;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-menu>*:nth-child(even) .menu-accordion {
    color: light-dark(var(--white), var(--dark-gray));
    background-color: light-dark(var(--dark-gray), var(--white));
}

#left-menu>*:nth-child(odd) .menu-accordion {
    color: light-dark(var(--dark-gray), var(--white));
    background-color: light-dark(var(--white), var(--dark-gray));
}

.menu-accordion:hover {
    background-color: #f2f2f2;
}

#left-menu>*:nth-child(even) .menu-accordion:hover {
    background-color: light-dark(var(--dark-gray), var(--snow));
}

#left-menu>*:nth-child(odd) .menu-accordion:hover {
    background-color: light-dark(var(--snow), var(--darker-gray));
}

#compare-area {
    display: flex;
    column-gap: 10px;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    padding-bottom: 10px;
}

.menu-accordion-icon {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    height: 16px;
    width: 16px;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13l-6-6 1.5-1.5L8 10.5l4.5-4.5L14 7z'/%3E%3C/svg%3E") no-repeat center;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13l-6-6 1.5-1.5L8 10.5l4.5-4.5L14 7z'/%3E%3C/svg%3E") no-repeat center;
    background-color: currentColor;
    transform: translateY(-50%) rotate(0deg);
}

.upside-down {
    transform: translateY(-50%) rotate(180deg) !important;
}


.cluster-icon {
    opacity: 0.6;
    border: 4px solid black;
    border-radius: 50%;
}

.custom-icon {
    pointer-events: none !important;
}

.custom-context-menu {
    position: absolute;
    color: light-dark(var(--dark-gray), var(--white));
    background-color: light-dark(var(--white), var(--dark-gray));
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    z-index: 1000;
}

.custom-context-menu li {
    padding: 8px 15px;
    cursor: pointer;
}

.custom-context-menu li:hover {
    background-color: light-dark(var(--snow), var(--darker-gray));
}