@keyframes open-anim {
    from {
        max-height: 0px;
    }

    to {
        max-height: 400px;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#main {
    display: flex;
    height: 100%;
    width: 100%;
}

.collapsed {
    height: 0 !important;
}

#menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    font-family: Helvetica;
    width: 0px;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: 'Roboto', 'Parkinsans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu::-webkit-scrollbar {
    display: none;
}

#menu>* {
    width: 316px;
    border: 2px solid #444;
    border-width: 0px 0px 1px 0px;
}

.menu-accordion-items {
    padding: 0px 8px;
    overflow-y: hidden;
    transition: height 0.8s;
    height: calc-size(auto, size)
}

#menu>*:first-child .menu-dropdown {
    border-width: 0px 0px 0px 0px;
}

.menu-accordion {
    position: relative;
    height: 44px;
    width: 100%;
    background-color: white;
    cursor: pointer;
    color: #222;


    box-sizing: border-box;
    font-weight: 300;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-accordion:hover {
    background-color: #f2f2f2;
}

.upside-down{
    transform: translateY(-50%) rotate(180deg) !important;
}

.menu-accordion-icon {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222222' viewBox='0 0 16 16'%3E%3Cpath d='M8 13l-6-6 1.5-1.5L8 10.5l4.5-4.5L14 7z'/%3E%3C/svg%3E");
    height: 16px;
    width: 16px;
    transform: translateY(-50%) rotate(0deg);
}

#map {
    height: 100%;
    flex-grow: 2;
    flex-shrink: 2;
}

.cluster-icon {
    opacity: 0.6;
    border: solid 4px black;
    border-radius: 50%
}

.custom-icon {
    pointer-events: none !important;
}