.expand {
    animation: expand-width 0.5s ease-in-out forwards;
}

.retract {
    animation: retract-width 0.5s ease-in-out forwards;
}

@keyframes expand-width {
    from {
        width: 0;
    }

    to {
        width: 296px;
    }
}

@keyframes retract-width {
    from {
        width: 296px;
    }

    to {
        width: 0;
    }
}

#settings {
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    background-color: #bbd;
    font-family: Helvetica;
    width: 0px;
    height:100%;
    overflow:scroll;
}

#settings>* {
    padding: 8px;
    width: 280px;
}

.control {
    background-color: white;
    border-radius: 0px;
    padding: 6px 12px;
    margin-bottom: 0px;
    text-align: center;
}

.control label,
.control .range-label {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 0px 0px 4px 0px;
}

.map-button {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    text-align: center;
    cursor: pointer;
    width: fit-content;
    border-radius: 4px;
}

.map-button button:hover {
    background-color: #f4f4f4;

}

.map-button button {
    background-color: white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

.file-control input::file-selector-button {
    border: none;
    padding: 2px 4px;
    background-color: #7AC;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.combobox-container {
    width: 100%;
    cursor: pointer;
}

.slider-control input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    background: #ddd;
    outline: none;
    border-radius: 12px;
    margin: 0px;
    overflow: hidden;
}

.slider-control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 20px;
    background: #7AC;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.slider-control input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 90px;
    background: #7AC;
    border: none;
    border-radius: 50% 50% 0 0;
    cursor: pointer;
    position: relative;
}

.slider-control {
    position: relative;
    z-index: 100;
    padding-bottom: 20px;
}

.slider-container {
    position: relative;
    width: 100%;
    height: min-content;
    display: flex;
    margin: auto;
}

.tooltip {
    position: absolute;
    width: 32px;
    height: 24px;
    left: 50%;
    box-sizing: border-box;
    transform: translate(calc(-50% + 16px), calc(50% - 8px));
    background: #7AC;
    color: white;
    padding: 2px 5px;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, sans-serif;
    align-items: end;
    display: flex;
    justify-content: center;
    z-index:-1;
}

.slider-label {
    display: block;
    text-align: center;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
}

.range-control {
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
}

.range-label {
    display: block;
    text-align: center;
    margin-bottom: 4px;
}

.range-tooltip {
    display: block;
    text-align: center;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
}

.range-slider-container {
    background-color: #eee;
    width: 80%;
    height: 12px;
    margin: auto;
    position: relative;
    border-radius: 12px;
}

.range-slider {
    position: absolute;
    background: #7AC;
    height: 100%;
    width: 58px;
    top: 0px;
    cursor: move;
}

.range-slider .handle {
    position: absolute;
    height: 16px;
    width: 16px;
    top: -2px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border: solid;
    border-color: #7AC;


    /* Support for bootstrap */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.range-slider .EE {
    right: -10px;
    cursor: e-resize;
    border-radius: 0 100% 100% 0;
    border-radius: 100%
}

.range-slider .WW {
    cursor: w-resize;
    left: -10px;
    border-radius: 100% 0 0 100%;
    border-radius: 100%
}

.play-container .button {
    fill-opacity: 0.0;
    stroke: #AAB;
    stroke-width: 1.6;
}

.play-container .play,
.play-container .stop {
    fill: #BCE;
    stroke: #AAB;
    stroke-width: 1;
}

.combobox-container {
    text-align: center;
    background: #7AC;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    color: white;
    font-weight: 900;
}

select.combobox-container option {
    background-color: #ffffff;
    color: #000;
    transform: translate(10px, 0);
}

.button-control button {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #7AC;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
}