.multi-select {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  width: 100%;
  user-select: none;
}

.multi-select-header-wrapper{
  max-height: 90px;
  overflow-y:auto;
  display:flex;
  direction:rtl; 
  outline: 1px light-dark(var(--dark-gray), var(--white)) solid;
  border-radius: 4px;
}

.multi-select .multi-select-header {
  direction:ltr; 
  height:max-content;
  padding: 4px 30px 4px 8px;
  overflow: hidden;
  gap: 7px;
  min-height: 30px;
  border: none;
  background-color: light-dark(var(--white), var(--dark-gray));
}

.multi-select .multi-select-header::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13l-6-6 1.5-1.5L8 10.5l4.5-4.5L14 7z'/%3E%3C/svg%3E") no-repeat center;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M8 13l-6-6 1.5-1.5L8 10.5l4.5-4.5L14 7z'/%3E%3C/svg%3E") no-repeat center;
  background-color: light-dark(var(--dark-gray), var(--white));
  height: 12px;
  width: 12px;
}

.multi-select .multi-select-header.multi-select-header-active {
  border: none;
  border-radius: 4px;
}

.multi-select .multi-select-header.multi-select-header-active::after {
  transform: translateY(-50%) rotate(180deg);
}

.multi-select .multi-select-options.multi-select-options-active{
  display: flex;
}

.multi-select .multi-select-header .multi-select-header-placeholder {
  color: light-dark(var(--dark-gray), var(--white));
  font-size: 14px
}

.multi-select .multi-select-header .multi-select-header-option {
  display: inline-flex;
  align-items: center;
  color: light-dark(var(--white), var(--dark-gray));
  font-weight: bold;
  background-color: light-dark(var(--dark-gray), var(--white));
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 5px;
}

.multi-select .multi-select-header .multi-select-header-max {
  font-size: 14px;
  color: black;
}

.multi-select .multi-select-options {
  display: none;
  box-sizing: border-box;
  flex-flow: wrap;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0px;
  background-color: light-dark(var(--white), var(--dark-gray));
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid 1px light-dark(var(--dark-gray), var(--white));
  border-radius: 4px;
}

.multi-select .multi-select-options::-webkit-scrollbar {
  width: 5px;
}

.multi-select .multi-select-options::-webkit-scrollbar-track {
  background: #f0f1f3;
}

.multi-select .multi-select-options::-webkit-scrollbar-thumb {
  background: #cdcfd1;
}

.multi-select .multi-select-options::-webkit-scrollbar-thumb:hover {
  background: #b2b6b9;
}

.multi-select .multi-select-options .multi-select-option,
.multi-select .multi-select-options .multi-select-all,
.multi-select .multi-select-options .multi-unselect-all {
  padding: 4px 12px;
  height: 34px;

  border-top: 1px light-dark(var(--dark-gray), var(--white)) solid;
  border-radius: 0px;
}

.multi-select .multi-select-options .multi-select-option .multi-select-option-radio,
.multi-select .multi-select-options .multi-select-all .multi-select-option-radio,
.multi-select .multi-select-options .multi-unselect-all .multi-select-option-radio {
  margin-right: 14px;
  height: 16px;
  width: 16px;
  border: 1px solid light-dark(var(--dark-gray), var(--white));
  border-radius: 4px;
}

.multi-select .multi-select-options .multi-select-option .multi-select-option-text,
.multi-select .multi-select-options .multi-select-all .multi-select-option-text,
.multi-select .multi-select-options .multi-unselect-all .multi-select-option-text {
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: light-dark(var(--dark-gray), var(--white));
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio {
  border-color: var(--green);
  background-color: var(--green);
}

.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-radio::after,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-radio::after,
.multi-select .multi-select-options .multi-unselect-all.multi-select-selected .multi-select-option-radio::after {
  content: "";
  display: block;
  width: 3px;
  height: 7px;
  margin: 0.2em 0 0 0.4em;
  border: solid light-dark(var(--white), var(--dark-gray));
  border-width: 0 0.2em 0.2em 0;
  transform: rotate(45deg);
}

.multi-select .multi-select-options .multi-select-option.multi-select-selected .multi-select-option-text,
.multi-select .multi-select-options .multi-select-all.multi-select-selected .multi-select-option-text {
  color: var(--green);
}

.multi-select .multi-select-options .multi-select-option:hover,
.multi-select .multi-select-options .multi-select-option:active,
.multi-select .multi-select-options .multi-select-all:hover,
.multi-select .multi-select-options .multi-select-all:active,
.multi-select .multi-select-options .multi-unselect-all:hover,
.multi-select .multi-select-options .multi-unselect-all:active {
  background-color: light-dark(var(--snow), var(--darker-gray));
}

.multi-select .multi-select-options .multi-select-all,
.multi-select .multi-select-options .multi-unselect-all {
  border-top: 1px solid light-dark(var(--dark-gray), var(--white));
  border-radius: 0;
}

.multi-select .multi-select-options .multi-select-search {
  padding: 7px 10px;
  border: 1px light-dark(var(--dark-gray), var(--white)) solid;
  background-color: light-dark(var(--white), var(--dark-gray));
  border-radius: 5px;
  margin: 8px 10px 8px 10px;
  width: 100%;
  outline: none;
  font-size: 14px;
}

.multi-select .multi-select-options .multi-select-search::placeholder {
  color: light-dark(var(--dark-gray), var(--white));
  font-weight: 300 !important;
  font-family: 'Roboto', 'Parkinsans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.multi-select .multi-select-header,
.multi-select .multi-select-option,
.multi-select .multi-select-all,
.multi-select .multi-select-option,
.multi-select .multi-unselect-all {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  color: light-dark(var(--dark-gray), var(--white));
}

.multi-select-all-area{
  display: flex;
  width: 100%;
}